@charset "utf-8";

.colorSelect-maxContainer{
	display: inline-block;
    position: relative;
    /* min-width: 60%; */
}

.colorSelect-ul{
	width: 95%;
    display: inline-block;
    border: 1px solid #DCE0E9;
    min-height: 40px;
    border-radius: 4px;
    padding: 0px 10px 5px;
    margin-bottom: 0px;
    vertical-align:middle;
}

.colorSelect-li{
	display: inline-block;
	margin-right:11px;
	border: 1px solid rgba(214, 201, 201, 0.89);
    border-radius: 4px;
    padding: 0px 12px;
    position: relative;
    margin-top: 8px;
}

.colorSelect-span{
	display: inline-block;
    position: absolute;
    top: -8px;
    right: -5px;
}

.colorSelect-div{
	width: 15px;
    height: 15px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    border: 1px solid grey;
}

.colorSelect-input{
	border: none;
    border-radius: 4px;
    /* padding: 0 5px; */
    margin-left:5px;
    width: 48px;
    font-size: inherit;
    min-width:unset !important;
    border:unset !important;
    /* display: inline-block; */
}

.colorSelect-selector{
	display : none;
}

.colorSelect-img{
	width: 30px;
    /* margin-top: 0.7%; */
    position: absolute;
    right: unset;
    top: 0;
    bottom: 0;
    margin: auto;
}